:root {
    --color--titles: #2E2F42;
    --color--text: #434455;
    --c--brend: #4D5AE5;
}

/*00000000000000000000000000000000000000*/
/** {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
*/
body {
    min-height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: var(--color--text);
    /*max-width: 1128px;
    margin: 0 auto;*/
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/*--------------0--header----------------------*/
.header {
    border-bottom: 1px solid #E7E9FC;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em
}

.logo span {
    color: #2e2f42;
}

.header__link {
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
    transition: all 0.5s;
}

.header__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header__adress {}

.header__contacs {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.list-header__item {}

.list-header__item {}

.list-header__link {
    color: var(--color--titles);
}

.list-header__link {
    display: inline-block;
    padding: 24px 0;
    position: relative;
    transition: all 0.5s;
}

.list-header__link:hover {
    color: #404bbf;
}

.list-header__link:focus {
    color: #404bbf;
}

.list-header__link:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    background: #404BBF;
}


.contact {}

address {
    font-style: normal;
}

.header__contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color--text);
    transition: all 0.5s;
}

.header__contact:hover,
.header__contact:focus {
    color: #404bbf;

}

/*=================1==hero==================*/
.content {
    flex: 1 1 auto;
}

.section {
    padding: 120px 0;
}

.content__hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg.jpg);
    background-repeat: no-repeat, no-repeat;
    padding: 188px 0;
}

.hero__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-hero__title {
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin-bottom: 48px;
    max-width: 496px;
}

.content-hero__button {
    display: block;
    border: none;
    border-radius: 4px;
    /*padding: 16px 32px;*/
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    font-size: 16px;
    color: #fff;
    min-width: 169px;
    height: 56px;
    transition: all 0.5s;
}

.content-hero__button:hover {
    background-color: #404BBF;
}

.content-hero__button:focus {
    background-color: #404BBF;
}

/*=================2==advantages==================*/
.content__advantages {}

.advantages-content__title {}

.title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--color--titles);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-content__items {
    display: flex;
    gap: 24px;
}

.items-content__item {
    width: calc((100% - 72px) / 4);
}

.items-content__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--color--titles);
    margin-bottom: 8px;
}

.items-content__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*=================3==team==================*/
.content__team {
    background-color: #F4F4FD;
}

.team-content {}

.team-content__title {}

.team-content__items {
    display: flex;
    gap: 24px;
}

.team-content-items__item {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;

    /*margin-bottom: 30px;*/
}

.team-content-items__block {
    padding: 32px 0;
    text-align: center;
}

.team-content-items__title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--color--titles);
}

.team-content-items__text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*================4==portfolio===================*/
.content__portfolio {}

.portfolio__container {}

.portfolio-content__title {}

.portfolio-content__items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-items__item {
    width: calc((100% - 48px) / 3)
}

.container__li img {
    width: 100%;
}

.item-portfolio__image img {}

.item-portfolio__description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.item-portfolio__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--color--titles);
    margin-bottom: 8px;
}

.item-portfolio__subtitel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*================5==footer===================*/
.footer {
    background-color: #2E2F42;
    flex: 0 1 auto;
    padding: 100px 0;
}

.footer__link {
    display: inline-block;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.footer__link span {
    color: #f4f4fd;
}

.footer__text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*==================end===================*/